.teams {
  .panel {
    .panel-body {
      .label.right {
        float: right;
        line-height: inherit;
      }

      .list-group {
        .label-info {
          background-color: #d9edf7;
          color: #31708f;
        }

        li {
          > span {
            &:nth-child(2) {
              font-size: 90%;
            }

          }
        }

        .label {
          font-weight: normal;
        }
        .list-group-item {
          border: 1px solid #bce8f1;
          border-right: 0;
          border-left: 0;
          padding: 10px 0;

          .badge {
            background-color: #d9edf7;
            color: #31708f;
          }
        }
      }
    }
  }

  .page-header {
    button {
      float: right;
      padding: 0.1em;
      margin-top: 0.5em;
    }

    h1 {
      color: #777;
    }
  }

  .panel-info:hover{
    cursor: pointer;
    box-shadow: 0 0 1em #5bc0de;
  }
}