.stories {
  .page-header{
    .btn {
      float: right;
      padding: 0.1em;
      margin-top: 0.5em;
    }

    h1 {
      color: #777;
    }
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #bce8f1;
    text-align: left;
    padding: 8px;
  }

  .data:hover {
    cursor: pointer;
    box-shadow: 0 0 1em #5bc0de;
  }

  .panel {
    .panel-heading {
      button {
        padding: 0;
      }
    }

    table {
      th {
        width: 25%;
        padding: 8px 8px 0 5px;
        .label-info {
          background-color: #d9edf7;
          color: #31708f;
        }

        .label {
          font-weight: normal;
        }
      }

      tr {
        td {
          with: 25%;
          font-size: 90%;
        }
      }
    }
  }
}