.modal {
  .modal-dialog {
    width: 705px;
    .panel {
      margin-bottom: 0;
      .panel-body {
        padding: 15px 15px 0  15px;
        .form-group {
          label {
            color: #777;
            font-size: 95%;
          }
          .input-message {
            padding-left: 0;
            .error {
              color: red;
            }
            input {
              &.show-validation-styles {
                border: 1px solid #FF2A4C;
              }
            }
          }

          .selector {
            select {
              padding: 0.4em;
            }
          }
        }
        .modal-footer {
          border-top: 0;
          padding: 15px 0 15px 15px;
        }
      }
    }
  }
}