<div class="stories">
    <div class="page-header">
        <h1> {{teamName}} - Stories
            <button type="button" class="btn btn-info" ng-click="addOrEditStory()">
                <span class="glyphicon glyphicon-plus"></span> add story
            </button>
        </h1>
    </div>

    <div ng-repeat="storiesModel in storiesViewModel">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{storiesModel.header}}
                </h3>

            </div>

            <table ng-show="storiesModel.stories.length > 0">
                <tr>
                    <th>
                        <span class="label label-info">Description</span>

                    </th>
                    <th>
                        <span class="label label-info">Estimation</span>
                    </th>
                    <th>
                        <span class="label label-info">Owner</span>
                    </th>
                    <th>
                        <span class="label label-info">Status</span>
                    </th>
                </tr>
                <tr class="data" ng-repeat="story in storiesModel.stories" ng-click="addOrEditStory(story)">
                    <td>
                        {{story.description}}
                    </td>
                    <td>
                        {{story.estimation}}
                    </td>
                    <td>
                        {{story.owner}}
                    </td>
                    <td>
                        {{story.status}}
                    </td>
                </tr>
            </table>

            <div class="panel-body" ng-show="storiesModel.stories.length == 0">
                <a>There are no tasks</a>
            </div>
        </div>
    </div>
</div>
