<div class="teams">
  <!--<div class="alert alert-info" role="alert">
    <h3>Teams</h3>
  </div>-->

  <div class="page-header">
    <h1 class="clearfix">Teams
      <button type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-plus"></span> add team
      </button>
    </h1>
  </div>

  <div ng-repeat="team in teamsAndStoriesOverview">

    <div class="panel panel-info" ng-click="selectTeam(team)">
      <div class="panel-heading">
        <h3 class="panel-title">{{team.teamName}}</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <span class="label label-info">Stages</span>
          <span class="label label-info right">Total</span>
          <li class="list-group-item">
            <span class="badge">{{team.statusOfStories.backlog}}</span>
            Backlog
          </li>
          <li class="list-group-item">
            <span class="badge">{{team.statusOfStories.todo}}</span>
            Todo
          </li>
          <li class="list-group-item">
            <span class="badge">{{team.statusOfStories.inProgress}}</span>
            In progress
          </li>
          <li class="list-group-item">
            <span class="badge">{{team.statusOfStories.done}}</span>
            Done
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
