<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{title}}
                    </h3>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal" name="userForm" ng-submit="submitForm()" novalidate role="form">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="Name of the team" ng-model="name" required>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary"  ng-disabled="userForm.$invalid">OK</button>
                            <button type="button" ng-click="cancel()" class="btn">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>